{% extends "AppNegocio/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<!-- <form method="get" action=""> {% csrf_token %} corroborar si pega en sí mismo-->

<div class="resultado-negocio-container">
        <table>


            {% if negocios %}

                {% for negocio in negocios %}
            
                <div class="row gx-0 resultado-negocio-card">
                    <div class="col-lg-4 col-xl-3 py-lg-3">
                        <div class="p-4 p-md-5">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Vidriera virtual</div>
                            <div class="h2 fw-bolder">Datos del negocio:</div>
                            <ul>

                                <li>Nombre:{{ negocio.nombre }}</li>
                                <li>Rubro:{{ negocio.rubro }}</li>
                                <li>Dirección:{{ negocio.direccion }}</li>
                                <li>CP:{{ negocio.codigo_postal }}</li>

                            </ul>
                            <a class="stretched-link text-decoration-none" href="#!">
                                Más información
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-5"><div class="bg-featured-blog" style="background-image: url('https://dummyimage.com/700x350/343a40/6c757d')"></div></div>
                </div>
                

                {% endfor %}

            {% endif %}

        </table>

</div>

<input type="submit" value="Buscar">


{% endblock %}


<div class="row gx-0">
    <div class="col-lg-6 col-xl-5 py-lg-5">
        <div class="p-4 p-md-5">
            <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
            <div class="h2 fw-bolder">Article heading goes here</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique delectus ab doloremque, qui doloribus ea officiis...</p>
            <a class="stretched-link text-decoration-none" href="#!">
                Read more
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url('https://dummyimage.com/700x350/343a40/6c757d')"></div></div>
</div>