{% extends "AppNegocio/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<!-- <form method="get" action=""> {% csrf_token %} corroborar si pega en sí mismo-->

<div class="resultado-container">

        <table>

            {% if negocios %}

                {% for negocio in negocios %}
            
                <div class="card h-100 shadow border-0 resultado-card">
                    <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="...">
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Vidriera virtual</div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Datos del comercio</div></a>
                        <!-- este botón de arriba podemos usar despúes para acceder al detalle de cada negocio -->
                        <ul>
                
                            <li>Nombre: {{ negocio.nombre }}</li>
                            <li>Rubro: {{ negocio.rubro }}</li>
                            <li>Dirección: {{ negocio.direccion }}</li>
                            <li>CP: {{ negocio.codigo_postal }}</li>
                
                        </ul>
                    </div>
                </div>

                {% endfor %}

            {% endif %}

        </table>

</div>



{% endblock %}


