{% extends "AppNegocio/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
{% block title %}
Resultados de Búsqueda - Productos
{% endblock %}

<div class="resultado-container">

        <table>

            {% if productos %}

                {% for producto in productos %}
            
                <div class="card h-100 shadow border-0 resultado-card">
                    <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="...">
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Vidriera virtual</div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Datos del producto</div></a>
                        <!-- este botón de arriba podemos usar despúes para acceder al detalle de cada negocio -->
                        <ul>
                
                            <li>Nombre: {{ producto.nombre }}</li>
                            <li>Precio: $ {{ producto.precio }}</li>
                            <li>Cantidad en Stock: {{ producto.cantidad }}</li>
                            <li>Categoría: {{ producto.categoria }}</li>
                
                        </ul>
                    </div>
                </div>

                {% endfor %}

            {% endif %}

        </table>

</div>



{% endblock %}


